mkdocs>=1.5.3
mkdocs-material==9.4.14
mkdocs-git-revision-date-localized-plugin==0.9.2
mkdocs-macros-plugin==1.0.5
mkdocstrings==0.24.0
tags-macros-plugin @ git+https://github.com/jldiaz/mkdocs-plugin-tags.git@d26e2f124e4f3471639d426459e281080988fe7a
mkdocs-jupyter
mkdocs-meta-descriptions-plugin
jupyter_contrib_nbextensions
